img.A:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #C91E29;
    border-radius: 50%;
    animation: logo 0.65s 1;
}

img.B:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #116BB1;
    border-radius: 50%;
    animation: logo 0.65s 1;
}

img.C:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #3D0202;
    border-radius: 50%;
    animation: logo 0.65s 1;
}

img.D:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #025987;
    border-radius: 50%;
    animation: logo 0.65s 1;
}



@keyframes logo {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }

}

.header img:hover{
      transform: scale(1.2);
      transition: 0.35s;
}

.header img{
    cursor: pointer;
}