*{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}


span{
    color: red;
}

a{
    color:#39B965 ;
}



@media only screen and (min-width: 100px) {
    .header img{
        margin:5px;
        border-radius: 50%;
        border: 2px solid white;
    }
    
    article{
        padding:10px;
    }
     h2,h3,h4{
        font-size: 0.9rem;
        margin:10px
     }
     
     p{
        font-size: 0.78rem;
        margin: 10px;
     }

     ul li{
        margin-left: 30px;
        font-size: 0.78rem;
     }

     ul{
        padding:5px;
     }

     .top{
        position: sticky;
        text-align: right;
        top: 350px;
        opacity: 80%;
     }

     .top img{
        width: 30px;
        height: 30px;
     }


    .header h1{
        font-size: 1rem;
    }

    .header p{
       font-size: 0.8rem;
    }

    header{
        padding: 10px;
        background: #0f2027 url(../Images/banner.png);
        color: white;
        font-family: monospace;
    }
    
    .text{
        position: absolute;
        top:5%;
        left:29%;

    }
    
    .menu h2{
        display: none;
    }

    .menu ul li{
        display: inline-block;
        list-style: none;
        font-size: 0.7rem;
        font-family: monospace;
    }

    .menu ul{
        display: flex;
        justify-content: space-evenly;
    }

    .menu{
        padding: 2px;
        background-color: #0f2027;
        border-radius: 5px;
    }

    .menu a{
        text-decoration: none;
        text-transform: uppercase;
    }

    #skills{
        margin-top: 50px;
    }
    
    #contactDetails{
        margin-left: 35%;
    }
    
    .Icons{
        margin-left: 28%;
    }

    .Icons a{
        margin-right:20px;
    }
    
    footer{
        background-color: #0f2027;
        padding: 20px;
        border-radius: 5%;
    }
    

    label{
        display: block;
    }

    input{
        width: 220px;
    }

    input#sub{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    .experience{
        margin-top:50px;
    }

    .frm{
        display: none;
    }

    form{
        color: white;
        padding:10px;
    }

}

@media only screen and (min-width: 550px) {
      header{
         background: #0f2027 url(../Images/banner.png);
      }
      

      .list, .listb{
        display: flex;
        flex-direction: column;
      }


      .mainContent{
        display:flex;
      }

      .leftArea{
        background: #3C4B49;
        width: 30%;
        padding: 10px;
        color:white;
      }

      .leftArea h2{
        font-size: 1.2rem;
      }

      .leftArea p{
        font-size: 0.6rem;
        font-family: sans-serif;
      }

      .rightArea{
        width:70%;
        padding:10px;
      }


      #contactDetails{
        margin-left:5%;
      }
    
      .Icons{
        margin-left:5%;
    }

    .Icons a{
        margin-right:15px;
    }

    .experience{
        margin-top:10px;
    }

    article{
        padding: 0;
    }


    #skills{
        margin-top:10px;
    }

    .menu{
        padding: 10px;
        border-radius: 0;
    }

    footer{
        display: none;
    }

    .frm{
       display: unset;
    }

    form{
        color: white;
        padding: 10px;
        border: 0;
    }

    label{
        color: white;
        display: block;
        width: 150px;
        text-align: left;
        margin-left: 10px;
    }
    
    
    input{
        width: 159px;
        margin-left: 10px;
    }

    select{
        margin-left: 10px;
    }
    
    textarea{
        width: 160px;
        margin-left: 10px;
    }

    input#sb{
        width: 162px;
    }
    

    .top{
        position: sticky;
        text-align: right;
        top: 450px;
        opacity: 80%;
     }

     .text{
        position: absolute;
        top:55px;
        left:29%;

    }
    

}

@media only screen and (min-width:1300px) {

     h1,h2,h3,p{
        margin:10px;
        color: white;
    }

     h1,h2,h3,h4,p,ul li,a{
        font-size: 1.7rem;
    }
     
     a{
        color: rgb(57, 185, 101);
    }
     
    .header img{
         border-radius: 100%;
         position:absolute;
         right: 95px;
         top: 20px;
         border: 2px solid white;
         cursor: pointer;
    }
     
    .resume{
         margin: 0px;
         background: rgb(77, 92, 90) url(../Images/2.png);
         box-shadow: 0 0 50px rgb(0, 0, 0);
         border-radius: 15px;
    }
     
    header{
         position:relative;
         height: 200px;
         background:transparent;
    }
     
    .header .text{
        position: absolute;
        top: 70px;
        left: 40%;
    }

    .text h1, .text p{
        font-size: 1.3rem;
    }
     
      
     
    .leftArea{
         width: 30%;
         background-color: rgb(60, 75, 73);
         box-shadow: 0 0 50px rgb(0, 0, 0);
         border-radius: 10px;
    }
     
    .rightArea{
         width: 70%;
         background: transparent;
    }
     
    .education{
        margin-top: 35px;
        margin-left: 120px;
        margin-bottom: 100px;
     
    }

    .experience{
        margin-top: 15px;
        margin-left: 120px;
        margin-bottom: 100px;
     
    }
      
    ul{
        margin-left: 30px;
        color: white;
    }
     
    .skills{
        margin-top: 35px;
        margin-left: 20px;
    }
     
    #languages, #courses, #contactDetails{
        margin-top: 59px;
    }
     
     
    .education h4{
        margin-left: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
     
    .experience h4{
         color: rgb(0, 168, 0);
         margin-left: 10px;
         font-weight: bold;
    }
     
    .Icons{
         padding-left: 10px;
         transform: scale(1.1);
    }
     
    .Icons a{
         padding-right: 20px;
     
    }
     
    label{
         color: white;
         display: block;
         width: 150px;
         text-align: left;
    }
     
     
    input{
         width: 159px;
    }
     
    form{
         padding: 10px;
    }
     
    span{
         color: #ff0818;
    }

    #contactDetails{
        margin-left:10px;
    }

    .leftArea h2{
        font-size: 2rem;
    }

    .leftArea p{
        font-size: 1.5rem;
    }

    form{
        font-size: 1.2rem;
    }
    
    input,textarea{
        width: 250px;
    }

    select{
        width: 200px;
    }

    textarea{
        height: 80px;
    }

    input#sb{
        width: 250px;
    }


    .menu h2{
        display: unset;
        margin-left: 30px;
    }
    

    .menu{
        background: transparent;
        text-align: left;
    }

    .menu ul{
        display: unset;
        justify-content: unset;
    }


    .menu ul li{
        display: unset;
        list-style: none;
        display: block;
    }

    .menu{
        position: absolute;
        top:30px;
        margin-left:100px
    }

    
}